body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #313145;
	width: 2000px;
}
#header {
	width: 100%;
	height: 110px;
	margin: 20px 0 0 0;
}
#div260w120h {
	display: block;
	width: 240px; height: 110px;
	background-color: #000;
	float: left;
	margin: 0px 0px 0px 0px;
}
#topright{
	width: 380px;
	height: 110px;
	float: left;
	margin: 0px 0px 0px 0px;
}
.toprightchild{
	width:95px;
	height: 110px;
	float: left;
	margin-left: 0px;
	background-repeat: no-repeat;
}
.toprightchild:nth-child(1){
	background-image: url(images/one/facebook_icon.png);
	background-position: 15px 23px;
}
.toprightchild:nth-child(2){
	background-image: url(images/one/twitter-icon.png);
	background-position: 15px 23px;
}
.toprightchild:nth-child(3){
	background-image: url(images/one/linkedin-icon.png);
	background-position: 15px 23px;
}
.toprightchild:nth-child(4){
	background-image: url(images/one/Google-Plus-icon.png);
	background-position: 15px 23px;
}
nav ul {
	list-style: none; overflow: hidden; position: relative;
}
nav ul li {
	float: left; margin: 0px 0px 0px 10px;
}
nav ul li a {
	display: block; width: 110px; height: 110px;
	background-image: url(images/one/icons.png); background-repeat: no-repeat;
	background-color: #5bb2fc;
}
nav ul li a:hover{
	opacity: 0.8;
}
/*
nav ul li:nth-child(odd)
{
background:#ff0000;
}
nav ul li:nth-child(even)
{
background:#0000ff;
}
*/
nav ul li:nth-child(2) a {
	background-color: #5bb2fc;
	background-position: 23px 23px;
}
nav ul li:nth-child(3) a {
	background-image: url(images/one/info-5-64.png);
	background-color: #58ebd3;
	background-position: 23px 23px;
}
nav ul li:nth-child(4) a {
	background-color: #ffa659;
	background-position: 23px -225px;
}
nav ul li:nth-child(5) a {
	background-color: #ff7a85;
	background-position: 23px -347px;
}
nav ul li:nth-child(6) a {
	background-image: url(images/one/map-marker-33-64.png);
	background-color: #5bb2fc;
	background-position: 23px 23px;
}
nav ul li:nth-child(7) a {
	background-image: url(images/one/key-17-64.png);
	background-color: #58ebd3;
	background-position: 23px 23px;
}
nav ul li a span {
	font: 40px "Dosis", sans-serif; text-transform: uppercase; 
	position: absolute; left: 0px; top: 29px;
	display: none;
}

/*
position: static; 	Thành phần sẽ nằm theo thứ tự trong văn bản, đây là dạng mặc định.
position: relative; 	Định vị trí tuyệt đối cho thành phần.
position: absolute; 	Định vị trí tuyệt đối cho thành phần theo thành phần bao ngoài (thành phần định vị trí tương đối position: relative;) hoặc theo cửa sổ trình duyệt.
position: fixed; 	Định vị trí tương đối cho thành phần theo cửa sổ trình duyệt.
position: inherit; 	Xác định thừa hưởng thuộc tính từ thành phần cha (thành phần bao ngoài).
*/
nav ul li a:hover span {
	display: block;
}
/*:hover; là click vào mới thực hiện cái gì đó*/
				
nav ul li:nth-child(2) a span {
	color: #5bb2fc;
}
nav ul li:nth-child(3) a span {
	color: #58ebd3;
}
nav ul li:nth-child(4) a span {
	color: #ffa659;
}

nav ul li:nth-child(5) a span {
	color: #ff7a85;
}
nav ul li:nth-child(6) a span {
	color: #5bb2fc;
}
nav ul li:nth-child(7) a span {
	color: #58ebd3;
}
#mybody{
	/*display: block;*/
	width: 100%;
	min-height: 540px;
	/*background: #191919; /* url(images/img.jpg);*/
	float: left;
	margin: 10px 0px 0px 0px;
}
a{
	display: block;
}
a img{
	width: 230px;
}
#anchu{
	font: 30px "Dosis", sans-serif; text-transform: uppercase; 
	position: absolute; left: 10px; top: 10px;
	display: none;
	color: #376B97;
}
/*.bonsanpham{
	background-color: #272737;
	max-width: 560px;
	min-height: 560px;
	padding: 20px 20px 0 0;
}
*/
.sanpham{
	position: relative;
	float: left;
	width: 230px;
	height: 110px;
	background-color: #272737;
	margin: 0px 0px 10px 10px;
	overflow: hidden;
	background-position: 100% 50%, bottom center;
}
.sanpham:hover{
	opacity: 0.8;
}
a:hover #anchu{
	display: block;
}
.danhmuc{
	position: relative;
	float: left;
	width: 240px;
	min-height: 470px;
	color: #000;
	margin: 0px 0px 0px 0px;
}
.danhmuccon{
}
.danhmuccon a {
	text-decoration: none;
	display: block; width: 110px; height: 110px;
	background-repeat: no-repeat;
	background-color: #5bb2fc;
	margin-left: 10px;
	margin-bottom: 10px;
	background-position: 23px 23px;
}
.danhmuccon a:nth-of-type(2n+1) {
	float: left;
}
.danhmuccon a:nth-of-type(2n){
	float: right;
}
.danhmuccon a:hover #anchu{
	position: inherit;
	color: #2E597E;
	opacity: 0.6;
}
.danhmuccon:nth-child(1) a{
	background-image: url(images/one/television-6-64.png);
}
.danhmuccon:nth-child(2) a{
	background-image: url(images/one/tablet-5-64.png);
	background-position: 23px 25px;
}
.danhmuccon:nth-child(3) a{
	background-image: url(images/one/mobile-phone-6-64.png);
}
.danhmuccon:nth-child(4) a{
	background-image: url(images/one/photo-camera-64.png);
}
.danhmuccon:nth-child(5) a{
	background-image: url(images/one/laptop-4-64.png);
}
.danhmuccon:nth-child(6) a{
	background-image: url(images/one/megaphone-3-64.png);
}
.danhmuccon:nth-child(7) a{
	background-image: url(images/one/megaphone-3-64.png);
}
.danhmuccon:nth-child(8) a{
	background-image: url(images/one/megaphone-3-64.png);
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}